.custom-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 1rem;
  height: 70px; /* Ensure height is consistent */
  padding: 10px 20px; /* Ensure padding is consistent */
}

.custom-footer .navbar-brand {
  color: wheat;
  margin-left: 10px;
  font-size: 1.5rem; /* Increase font size */
}

.custom-footer .nav-link {
  color: beige !important; 
  padding: 10px 15px; /* Ensure padding is consistent */
}

.custom-footer .nav-link:hover {
  color: #FFA500;
}
