.custom-footer {
  position: relative;
  width: 100%;
  z-index: 1000;
  border-radius: 1rem;
  height: 70px;
  padding: 10px 20px;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.9); 
}

.custom-footer .navbar-collapse {
  position: absolute;
  bottom: 100%; /*collapse menu above the navbar */
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 1rem;
}

.custom-footer .navbar-brand {
  color: wheat;
  margin-left: 10px;
  font-size: 1.5rem;
}

.custom-footer .nav-link {
  color: beige !important;
  padding: 10px 15px; 
}

.custom-footer .nav-link:hover {
  color: #FFA500;
}

@media (max-width: 991px) {
  .custom-footer .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: 992px) {
  .custom-footer .navbar-collapse {
    position: static;
    background-color: transparent;
  }
}
