.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 1rem;
    height: 70px;
    padding: 10px 20px; 
    margin-bottom: 10px;
}

.navbar-brand {
    color: wheat;
    margin-left: 10px;
    font-size: 1.5rem; 
}

.nav-link {
    color: beige !important; 
    padding: 10px 15px; 
}

.nav-link:hover {
    color: #FFA500; /* colour for hover effect */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

  .custom-navbar .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5); /* background colour with transparency */
  }
  
  .custom-navbar .navbar-collapse.show {
    background-color: rgba(0, 0, 0, 0.7); /* background colour when expanded with transparency */
    border-radius: 1rem;
  }
  