.container {
    display: flex !important;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 40px;
    align-items: center;
  }
  
  .search-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  .search-instructions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card-container {
    padding: 20px;
  }
  
  .card {
    background-color: black; 
    color: white; 
    border: none; 
    border-radius: 1rem;
  }
  
  .card-body {
    color: white; 
  }
  
  .card-title, .card-text {
    color: white; 
  }
  
  .card-image {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem; 
  }
  
  .card-body-buttons {
    display: flex;
    justify-content: space-between;
  }

  .cocktail-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cocktail-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: black;
    color: wheat;
    outline: none;
    margin-top: 10px;
  }
  
  .cocktail-input::placeholder {
    color: wheat;
  }
  
  .cocktail-submit-button {
    padding: 10px 20px;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: black 0.5px solid;
  }
  
  .cocktail-submit-button:hover {
    background-color: #f5deb3;
    color: black;
  }

  .close-btn {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-btn:hover {
    background-color: #333;
    color: white;
  }
  
  .cocktail-list {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
  list-style: none; 
  padding: 0;
  background-color: black;
  color: wheat;
  margin: 20px;
  border-radius: 1rem;
  margin-top: 50px;

}

.cocktail-list li {
  padding: 10px;
  background-color: black;
  border: 1px solid wheat;
  border-radius: 1rem;
  text-align: center;
  margin: 10px;
}

.cocktail-list li button {
  background-color: transparent;
  color: wheat;
  border: none;
  cursor: pointer;
}

.cocktail-list li button:hover {
  text-decoration: underline;
}